<!-- set the classes for the CSS properties for this componenet - a single todo-item - based on certain parameters as described in the method name passed to [ngClass] in todo-item.component.ts -->
<div [ngClass]="setClasses()"> 
    <!-- In the component's template we cannot have two root elements.
    All elements need to be wrapped in a single HTML element - in this case, a <div>. -->
    <p>
        <!-- add a method - onToggle() - when a "change" event happens to the checkbox of this todo component -->
        <input (change)="onToggle(todo)" type="checkbox" >
        {{ todo.title }}
        <!-- add a method - onDelete() - when a "click" event happens to the button of this todo component -->
        <button (click)="onDelete(todo)" class="del">x</button>
    </p>
</div>
